<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Выполняем любые сантехнические работы. Москва и Подмосковье. &#9742;Телефон для связи: +7 (967) 044-22-27">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="yandex-verification" content="ffeece7d37c74bb9" />
    <meta name="google-site-verification" content="1uLk0LSBKtOaZ57HNE8bEcGpCkCQ8LtM1xTi755H2Xk" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/style.min.css" asp-append-version="true" />
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/style.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    <script src="js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>
