<template>
  <div id="app">
      <template>

        <header class="header">
          <div class="container">
            <div class="header__inner">
              <div class="header__logo">
                <a class="logo">
                  <picture class="logo__img">
                    <source srcset="/imgs/logo-mobile.svg" media="(max-width: 600px)">
                    <img src="/imgs/logo.svg" alt="logo">
                  </picture>
                </a>
              </div>
              <nav class="menu">
                <ul class="menu__list">
                  <li class="menu__list-item"><a href="/" class="menu__list-link active">Главная</a></li>
                  <li class="menu__list-item"><a href="products.html" class="menu__list-link">Наши работы</a></li>
                </ul>
              </nav>
              <div class="header__phone">
                +7 (967) 044-22-27
              </div>
            </div>
          </div>
        </header>

        <main>
          <section class="top">
            <div class="container">
              <div class="top__inner">
                <div class="top__tool-1">
                  <img src="/imgs/tool-1.png" alt="tool">
                </div>
                <div class="top-block">
                  <div class="top-block__title">
                    НАШИ УСЛУГИ
                  </div>
                  <div class="top-block__list">
                    <div class="top-block__item">
                      <img src="/imgs/top-1.svg" alt="">
                      <p>Срочный выезд - бесплатно!</p>
                    </div>
                    <div class="top-block__item">
                      <img src="/imgs/top-2.svg" alt="">
                      <p>Выполняем работы в срок</p>
                    </div>
                    <div class="top-block__item">
                      <img src="/imgs/top-3.svg" alt="">
                      <p>Гарантия до 3 лет</p>
                    </div>
                  </div>
                  <a class="top-block__list btn">Вызвать мастера</a>
                </div>
                <div class="top__tool-2">
                  <img src="/imgs/tool-2.png" alt="tool">
                </div>
              </div>
            </div>
          </section>
          <router-view></router-view>
        </main>

        <footer class="footer">
          <div class="footer__logo">
            <div class="footer__logo-img">
              <img src="/imgs/logo-footer.svg" alt="">
            </div>
          </div>
          <div class="footer__info">
            <div class="info-block">
              <div class="info-block__title">Телефон</div>
              <div class="info-block__text">+7 (967) 044-22-27</div>
            </div>
            <div class="info-block">
              <div class="info-block__title">Физический адрес</div>
              <div class="info-block__text">Г. Москва Дмитрия Ульянова 18 </div>
            </div>
            <div class="info-block">
              <div class="info-block__title">E-mail адрес</div>
              <div class="info-block__text">gidrosancenter@gmail.com</div>
            </div>
          </div>
          <div class="footer__copy">
            <div class="copyright">©Гидросанцентр, 2020</div>
            <div class="social">
              <a href="#" class="social-link"><img src="/imgs/instagram.png" alt="instagram"></a>
              <a href="#" class="social-link"><img src="/imgs/whatsapp.png" alt="wahtsapp"></a>
              <a href="#" class="social-link"><img src="/imgs/facebook.png" alt="facebook"></a>
            </div>
          </div>
        </footer>       
      </template>
    </div>

</template>

<script>
  import NavMenu from './nav-menu'

  export default {
    components: {
      'nav-menu': NavMenu
    },

    data() {
      return {
         carusel: 0,
         theme1: 'light',
      }
    }
  }
</script>

