<template>

  <div>
    <section class="prices">
      <div class="container">
        <h2 class="title">
          Расценки установки ванн
        </h2>
        <div class="prices__inner">
          <div class="prices__table">
            <table>
              <thead>
                <tr>
                  <th>ВИД РАБОТЫ</th>
                  <th>СТОИМОСТЬ</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Установка чугунной ванны</td>
                  <td>от 4200 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж чугунной ванны</td>
                  <td>от 2100 ₽</td>
                </tr>
                <tr>
                  <td>Замена чугунной ванны</td>
                  <td>от 6300 ₽</td>
                </tr>
                <tr>
                  <td>Установка стальной ванны</td>
                  <td>от 2400 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж стальной ванны</td>
                  <td>от 1200 ₽</td>
                </tr>
                <tr>
                  <td>Замена стальной ванны</td>
                  <td>от 3600 ₽</td>
                </tr>
                <tr>
                  <td>Установка акриловой ванны</td>
                  <td>от 2800 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж акриловой ванны</td>
                  <td>от 1400 ₽</td>
                </tr>
                <tr>
                  <td>Установка угловой ванны</td>
                  <td>от 4800 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж угловой ванны</td>
                  <td>от 2400 ₽</td>
                </tr>
                <tr>
                  <td>Замена угловой ванны</td>
                  <td>от 7200 ₽</td>
                </tr>
                <tr>
                  <td>Установка гидромассажной ванны</td>
                  <td>от 5800 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж гидромассажной ванны</td>
                  <td>от 2900 ₽</td>
                </tr>
                <tr>
                  <td>Замена гидромассажной ванны</td>
                  <td>от 8700 ₽</td>
                </tr>
                <tr>
                  <td>Установка сифона ванны</td>
                  <td>от 1000 ₽</td>
                </tr>
                <tr>
                  <td>Демонтаж сифона ванны</td>
                  <td>от 500 ₽</td>
                </tr>
                <tr>
                  <td>Вынос старой ванны</td>
                  <td>по дог-ти</td>
                </tr>
                <tr>
                  <td>Замена акриловой ванны</td>
                  <td>от 4200 ₽</td>
                </tr>
              </tbody>
            </table>
          </div>
          <a class="prices__btn btn">Заказать звонок</a>
        </div>
      </div>
    </section>

    <section class="profits">
      <div class="container">
        <h2 class="title">5 причин</h2>
        <h2 class="profits__subtitle">Почему вызвать сантехникa от нас</h2>
        <div class="profits__inner">
          <div class="profits__list">
            <div class="profit">
              <div class="profit__icon">
                <img src="/imgs/profit.svg" alt="profit">
              </div>
              <div class="profit__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet
              </div>
            </div>
            <div class="profit">
              <div class="profit__icon">
                <img src="/imgs/profit.svg" alt="profit">
              </div>
              <div class="profit__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet
              </div>
            </div>
            <div class="profit">
              <div class="profit__icon">
                <img src="/imgs/profit.svg" alt="profit">
              </div>
              <div class="profit__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet
              </div>
            </div>
            <div class="profit">
              <div class="profit__icon">
                <img src="/imgs/profit.svg" alt="profit">
              </div>
              <div class="profit__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet
              </div>
            </div>
            <div class="profit">
              <div class="profit__icon">
                <img src="/imgs/profit.svg" alt="profit">
              </div>
              <div class="profit__text">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                nonummy nibh euismod tincidunt ut laoreet
              </div>
            </div>
          </div>
          <div class="profits__img">
            <img src="/imgs/profits-min.png" alt="profits">
          </div>
        </div>
      </div>
    </section>

    <div class="promo">
      <div class="container">
        <div class="promo__inner">
          <div class="promo__text">
            <h3>Бесплатная консультация!</h3>
            <p>У вас есть проблемы, не знаете, как их устранить?</p>
            <p>
              Закажите обратный звонок. Наши опытные
              специалисты помогут вам
            </p>
          </div>
          <div class="promo__buttons">
            <input type="tel" id="phone" placeholder="+7 (999) 999 99 99" class="phone-input">
            <a class="promo__btn btn">Перезвоните мне</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<i-Content style="background:#fff;">

    <h2 style="text-align:center; margin: 20px 0; text-transform:uppercase;">Выполняемые работы</h2>
    <div>
      <i-Table :columns="columns1" :data="data1"></i-Table>
    </div>


    <div style="text-align:center; margin: 20px 0px;">
      <i-button v-on:click="modalForm = true;" type="primary" size="large"><Icon type="md-call"></Icon> Заказать звонок</i-button>
    </div>

    <Modal v-model="modalForm"
           title="Заказать обратный звонок"
           :loading="loading"
           @on-ok="asyncOK"
           ok-text="Отправить"
           cancel-text="Отмена"
           style="text-align:center">
      <i-input v-model="name" placeholder="Введите ваше имя" style="width: 300px" class="inputModal"></i-input>
      <i-input v-model="phone" type="tel" name="contact" style="width: 300px;" class="inputModal" placeholder="+7 (___) ___-__-__"></i-input>
    </Modal>

  </i-Content>-->
</template>

<script>
  export default {
    data() {
      return {
        modalForm: false,
        loading: true,
        phone: "",
        name:"",
        columns1: [
          {
            title: 'Вид работ',
            key: 'name'
          },
          {
            title: 'Цена',
            key: 'price'
          },
        ],
        data1:[]
      }
    },
    methods: {
       asyncOK() {

        this.sendRequest();

        setTimeout(() => {
          this.modalForm = false;
        }, 2000);
      },
       sendRequest() {
        const params = new URLSearchParams();
         params.append('phone', this.phone);
         params.append('name', this.name);
         this.$http.post('/api/main/send', params)
        .then(response => {
          console.log(response)
        })
        .catch(function (error) {
          console.error(error.response);
        });
      }
    },
    mounted() {
      this.$http.get('/api/main/CategoryInfo/' + this.$route.params.id)
        .then(response => {
          console.log(response)
          this.data1 = response.data;
        })
        .catch(function (error) {
          console.error(error.response);
        });
    }
  }
</script>

<style >

  .ivu-table-cell span {  
    word-wrap:normal;
    word-break:break-word;
  }
  .ivu-table-cell p {  
    word-wrap:normal;
    word-break:break-word;
  }
  .ivu-table-cell {  
    word-wrap:normal;
    word-break:break-word;
  }
</style>
