<template>
  <div class="demo-carousel" style="width:100%; height:500px; background-image:url(/images/gidr1.jpg)">
    <i-Col span="24">
      <h1 style="text-align:center; padding: 20px 0 10px 0; text-transform:uppercase">Услуги сантехника</h1>
    </i-Col>

    <div class="d-flex justify-content-end" style="width:100%;">
      <div class="slide-call d-inline-block">
        <ul class="d-inline-block">
          <li>
            <Icon type="md-car"></Icon><span class="slide-call__text">Срочный выезд</span>
          </li>
          <li>
            <Icon type="md-alarm"></Icon><span class="slide-call__text">Выполняем работы в срок</span>
          </li>
          <li>
            <Icon type="md-clipboard"></Icon><span class="slide-call__text">Гарантия до 3 лет</span>
          </li>
        </ul>

        <i-form action="#" method="post" class="form">
          <input type="hidden" name="_wpcf7" value="3550">
          <i-input v-model="phone" type="tel" name="contact" style="width: 250px;" class="" placeholder="+7 (___) ___-____"></i-input>
          <i-button @click="sendRequest" type="primary" class="">Вызвать мастера</i-button>
        </i-form>

        <p class="slide-call__text-promise">Перезвоним в течение 1 минуты</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {

        phone: ""
      }
    },

    methods: {
      sendRequest() {
        const params = new URLSearchParams();
        params.append('phone', this.phone);
        params.append('phone', 'пусто');
        this.$http.post('/api/main/send', params)
          .then(response => {
            this.$Message.success('Заявка принята');
            this.phone = "";
            console.log(response)
          })
          .catch(error => {
            this.$Message.error('Произошла ошибка');
            console.error(error.response);

          });
      }
    },

  }
</script>

<style>


  .slide-call {
    margin-right: 100px;
  }

    .slide-call p {
      font-size: 30px;
    }

    .slide-call li {
      margin-bottom: 15px;
    }

    .slide-call ul {
      margin: 30px 0;
    }

  .slide-call__text {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    line-height: 52px;
    vertical-align: middle;
  }

  .slide-call i {
    font-size: 50px;
    margin-right: 20px;
    line-height: 52px;
    vertical-align: middle;
  }

  .slide-call input {
    height: 40px;
    font-size: 20px;
  }

  .slide-call button {
    height: 40px;
    margin-left: 20px;
    font-size: 20px;
  }

  .slide-call__text-promise {
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    .slide-call {
      margin-right: 0;
      padding: 0 25px;
    }

      .slide-call p {
        font-size: 18px;
      }

      .slide-call li {
        width: 100%;
      }

      .slide-call ul {
        margin: 30px 0;
        margin-top: 40px;
        width: 100%;
      }

    .slide-call__text {
      text-align: center;
      text-transform: uppercase;
      color: white;
      font-size: 18px;
      line-height: 42px;
      vertical-align: middle;
    }

    .slide-call i {
      font-size: 40px;
      margin-right: 20px;
      line-height: 52px;
      vertical-align: middle;
    }

    .slide-call input {
      height: 40px;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .form {
      text-align: center;
    }

    .slide-call button {
      height: 40px;
      margin-left: 20px;
      font-size: 20px;
    }

    .slide-call__text-promise {
      text-align: center;
    }
  }
</style>
