<template>
  <div>
    <section class="benefits">
      <div class="benefits__inner">
        <div class="container">
          <h2 class="title">НАШИ ПРЕИМУЩЕСТВА</h2>
          <div class="benefits__items">

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">1</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-1.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">Выполняем работы в срок</div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">2</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-2.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">
                Гарантия на наши работы
                до 3-х лет
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">3</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-3.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">
                Мастер приедет в любое
                удобное для вас время
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">4</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-4.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">Опыт работ</div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">5</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-5.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">Низкие цены</div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">6</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-6.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">
                Скидки пенсионерам
                и инвалидам
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">7</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-7.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">
                Акции и скидки
                от производителей
              </div>
            </div>

            <div class="benefits__item">
              <div class="benefits__item-header">
                <div class="benefits__item-num">8</div>
                <div class="benefits__item-img">
                  <picture class="benefit__img">
                    <img src="imgs/benefit-8.svg" alt="logo">
                  </picture>
                </div>
              </div>
              <div class="benefits__item-text">Работаем по москве и мо</div>
            </div>

          </div>
          <div class="benefits__btn btn">Заказать звонок</div>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="services__inner">
        <div class="container">
          <h2 class="title">УСЛУГИ</h2>
          <div class="services__items">
            <div class="services__item" v-for="item in categories">
              <div class="services__img">
                <img :src="item.imgUrl" alt="service">
                <div class="img-wrapper"><a :href="/category/ + item.id" class="services__btn">Подробнее</a></div>
              </div>
              <div class="services__info">
                <div class="services__info-text">{{ item.name }}</div>
                <div class="services__info-price">от 500 ₽</div>
              </div>
            </div>
          </div>

          <a href="products.html" class="services__btn-main btn">Посмотреть все</a>
        </div>
      </div>
    </section>

    <section class="application">
      <div class="application__inner">
        <div class="container">
          <h2 class="title">СРОЧНЫЙ БЕСПЛАТНЫЙ ВЫЕЗД</h2>

          <div class="applications">
            <div class="application__one">
              <form>
                <div class="form">

                  <div class="form__header">
                    <div class="form__header-title">Оставьте заявку</div>
                    <p class="form__header-text">Мы свяжемся с вами!</p>
                  </div>
                  <div class="form__inputs">
                    <div class="form__group field">
                      <input type="text" class="form__field" placeholder="Ваше имя" name="name" id="name"
                             autocomplete="off" required />
                      <label for="name" class="form__label">Ваше имя</label>
                    </div>

                    <div class="form__group field">
                      <input type="tel" class="form__field" placeholder="Номер телефонa" name="phone" id="phone"
                             autocomplete="off" required />
                      <label for="phone" class="form__label">Номер телефонa</label>
                    </div>
                  </div>
                  <button class="form__btn btn">заказать звонок</button>
                </div>
              </form>
              <div class="num">1</div>
              <div class="text">Вы позвоните по телефону или оставьте заявку</div>
            </div>

            <div class="application__two">
              <div class="application__img">
                <img src="imgs/application-2-min.png" alt="Мастер прибудет к вам">
              </div>
              <div class="num">2</div>
              <div class="text">Мастер прибудет к вам</div>
            </div>

            <div class="application__three">
              <div class="application__img">
                <img src="imgs/application-3-min.png" alt="logo">
              </div>
              <div class="num">3</div>
              <div class="text">Мастер выполнит всю необходимую работу</div>
            </div>

            <div class="application__four">
              <div class="application__img">
                <img src="imgs/application-4-min.png" alt="logo">
              </div>
              <div class="num">4</div>
              <div class="text">Вы принимаете работу и оплачиваете</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  

  <!--<i-Content style="background:#fff;">



    <Row>

      <i-Col v-for="item in categories" :xxl="8" :xl="8" :lg="12" :md="24">
        <Card class="card" dis-hover>
          <p slot="title">{{ item.name }}</p>
          <div>
            <img :src=item.imgUrl alt="" />
          </div>
          <i-button :to="/category/ + item.id " style="margin-top:15px;" type="primary">Подробнее</i-button>
        </Card>
      </i-Col>
    </Row>

    <h2 style="text-align:center; margin: 40px 0; font-size:25px;">НАШИ ПРЕИМУЩЕСТВА</h2>

    <Row type="flex" justify="center" class="code-row-bg">
      <i-Col :xxl="20" :xl="22" :lg="24">
        <Row>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/11.png" alt="" />
              <p>МЫ ОКАЗЫВАЕМ УСЛУГИ САМОГО ВЫСОКОГО КАЧЕСТВА</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/22.png" alt="" />
              <p>ГАРАНТИЯ НА НАШИ РАБОТЫ ДО 3-Х ЛЕТ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/33.png" alt="" />
              <p>МАСТЕР ПРИЕДЕТ В ЛЮБОЕ УДОБНОЕ ДЛЯ ВАС ВРЕМЯ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/44.png" alt="" />
              <p>ОПЫТ РАБОТ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/55.png" alt="" />
              <p>НИЗКИЕ ЦЕНЫ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/66.png" alt="" />
              <p>СКИДКИ ПЕНСИОНЕРАМ И ИНВАЛИДАМ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/77.png" alt="" />
              <p>АКЦИИ И СКИДКИ ОТ ПРОИЗВОДИТЕЛЕЙ</p>
            </div>

          </i-Col>
          <i-Col class="card-advantages" :xl="6" :lg="8">
            <div class="card-advantages__box">
              <img style="height:62px;" src="/images/88.png" alt="" />
              <p>РАБОТАЕМ ПО МОСКВЕ И МО</p>
            </div>

          </i-Col>

        </Row>
      </i-Col>
    </Row>

    <div style="text-align:center">
      <i-button v-on:click="modalForm = true;" type="primary" size="large"><Icon type="md-call"></Icon> Заказать звонок</i-button>
    </div>

    <Modal v-model="modalForm"
           title="Заказать обратный звонок"
           :loading="loading"
           @on-ok="asyncOK"
           ok-text="Отправить"
           cancel-text="Отмена"
           style="text-align:center">
      <i-input v-model="name" placeholder="Введите ваше имя" style="width: 300px" class="inputModal"></i-input>
      <i-input v-model="phone" type="tel" name="contact" style="width: 300px;" class="inputModal" placeholder="+7 (___) ___-__-__"></i-input>
    </Modal>


  </i-Content>-->
</template>

<script>
  export default {
    data() {
      return {
        
        visible: false,
        modalForm: false,
        loading: true,
        phone: "",
        name:"",
        isCollapsed: false,
        carusel: 0,
        categories:[]
      }
    },
    methods: {
      show: function () {
        this.visible = true;
      },
      asyncOK() {

        this.sendRequest();

        setTimeout(() => {
          this.modalForm = false;
        }, 2000);
      },
       sendRequest() {
        let formData = new FormData();
         formData.append('phone', this.phone);
         formData.append('name', this.name);
         this.$http.post('/api/main/send', formData)
        .then(response => {
          console.log(response)
        })
        .catch(function (error) {
          console.error(error.response);
        });
      }
    },
    mounted()
    {
      this.$http.get('/api/main/Categories')
        .then(response => {
          console.log(response)
          this.categories = response.data;
        })
        .catch(function (error) {
          console.error(error.response);
        });
    }
  }
</script>

<style>
  .inputModal {
    margin:10px 0;
    
  }

  input{
    height: 50px;
  }
</style>
